@font-face {
  font-family: 'StarJedi';
  src: url('../fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DroidobeshDepot';
  src: url('../fonts/DroidobeshDepot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
